
.icon-gplus:before { content: '\f0d5'; } /* '' */
.icon-meh:before { content: '\f11a'; } /* '' */
.icon-dribbble:before { content: '\f17d'; } /* '' */
.icon-spotify:before { content: '\f1bc'; } /* '' */
.icon-transgender-alt:before { content: '\f225'; } /* '' */