@import url('https://fonts.googleapis.com/css?family=News+Cycle|Satisfy');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 8px;
}

header {
	width: 100%;
	background-color: #c0c;
	display: flex; /*convierte la cabecera de la web en un contenedor flexbox*/
	align-items: center; /*centra los elementos flex de manera vertical*/
}

	header > h1 {
		padding: 1.3em 1.3em 1em 1.4em;
	}

		header > h1 > a > img {
			padding: .3em;
			background-color: #fff;
			border-radius: 7%;
			border-top: solid 3px gray;
			border-bottom: solid 3px gray;
		}

	header > p {
		color: #fff;
		width: 75%;
		text-align: center;
		font-size: 3em;
		font-family: 'Satisfy'
	}

nav {
	background-color: #fff;
	width: 100%;
}

	nav > ul {
		display: flex;
		list-style: none;
		padding: 15px 0 14px 0;
		justify-content: center;
	}

		nav > ul > li > a {
			padding: 15px 20px;
			text-decoration: none;
		}

		/*para enlaces normales y un enlace que ha sido visitado*/
		nav > ul > li > a:link, nav > ul > li > a:visited {
			color: #4d4d33;
		}

		/*para cuando se pasa el cursor por encima*/
		nav > ul > li > a:hover {
			color: #fff;
			background-color: #c0c;
			cursor: pointer; /*para que el cusor se convierta en mano*/
			transition: all 300ms; /*crea el efecto con una transición lenta*/
		}

main {
	background-color: #BABABA;
	font-family: 'News Cycle';
	width: 100%;
}

	main > h2 {
		padding: 1.3em .6em;
		color: #000;
	}

section {
	width: 100%;
	display: flex;
	flex-wrap: wrap; /*distribuye los elementos flex en varias lineas si es necesario de izquierda a derecha y de arriba a abajo*/
	justify-content: center; /*justifica los elementos flex en el centro del viewport*/
	text-align: center;
}

	section > article {
		max-width: 300px;
		background-color: #6B6B6B;
		margin: 30px;
	}

	section > article:hover {
		background-color: #c0c;
		transition: all .3s;
	}

		section > article > hgroup {
			padding: 5px 0;
		}

			section > article > hgroup > h3 > a, section > article > hgroup > h4 > a {
				text-decoration: none;
				color: #fff;
			}

			section > article > hgroup > h3 > a:hover, section > article > hgroup > h4 > a:hover {
				color: #E3CA10;
			}

		section > article > p {
			padding-bottom: 5px;
		}

			section > article > p > i {
				padding-left: 7px;
			}

			section > article > p > i:first-child {
				color: #E00F0F;
			}

			section > article > p > i[class="fas fa-star"] {
				color: #E4E009;
			}

			section > article > p > i[class="fas fa-comments"] {
				color: #191919;
			}

				section > article > p > i:last-child > a,section > article > p > i:last-child {
					color: #0D5208;
				}

				section > article > p > i:last-child > a:hover {
					text-decoration: none;
				}

footer {
	width: 100%;
	background-color: #E3CA10;
	padding: 1.3em 0;
}

	footer > p {
		text-align: center;
		color: #fff;
		display: flex;
		justify-content: space-between;
	}

		footer > p > a {
			margin: 0 1.5em;
		}

		footer > p > a {
			color: #fff;
		}

		footer > p > a:hover, footer > p > a ~ a { /*~ se refiere a un hermano no inmediato de a*/
			text-decoration: none;
		}

		footer > p > a ~ a:hover {
			color: #191919;
		}