@import url('https://fonts.googleapis.com/css?family=News+Cycle|Satisfy');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box; /*cuando especificamos width o height sera siempre fijo*/
}

body {
	margin: 8px;
}

header {
	width: 100%;
	background-color: #c0c;
	display: flex; /*convierte la cabecera de la web en un contenedor flexbox*/
	align-items: center; /*centra los elementos flex de manera vertical*/
}

	header > h1 {
		padding: 1.3em 1.3em 1em 1.4em;
	}

		header > h1 > a > img {
			padding: .3em;
			background-color: #fff;
			border-radius: 7%;
			border-top: solid 3px gray;
			border-bottom: solid 3px gray;
		}

	header > p {
		color: #fff;
		width: 75%;
		text-align: center;
		font-size: 3em;
		font-family: 'Satisfy'
	}

nav {
	background-color: #fff;
	width: 100%;
}

	nav > ul {
		display: flex;
		list-style: none;
		padding: 15px 0 14px 0;
		justify-content: center;
	}

		nav > ul > li > a {
			padding: 15px 20px;
			text-decoration: none;
		}

		/*para enlaces normales y un enlace que ha sido visitado*/
		nav > ul > li > a:link, nav > ul > li > a:visited {
			color: #4d4d33;
		}

		/*para cuando se pasa el cursor por encima*/
		nav > ul > li > a:hover {
			color: #fff;
			background-color: #c0c;
			cursor: pointer; /*para que el cusor se convierta en mano*/
			transition: all 300ms; /*crea el efecto con una transición lenta*/
		}

main {
	background-color: #BABABA;
	font-family: 'News Cycle';
	width: 100%;
	padding-bottom: 2em;
}

	main > h2 {
		padding: 1.3em .6em;
		color: #000;
	}

footer {
	width: 100%;
	background-color: #E3CA10;
	padding: 1.3em 0;
}

	footer > p {
		text-align: center;
		color: #fff;
		display: flex;
		justify-content: space-between; /*coloca los elementos flex en posiciones equidistantes*/
		font-size: 1.2em;
	}

		footer > p > a {
			margin: 0 1.5em;
		}

		footer > p > a {
			color: #fff;
		}

		footer > p > a:hover, footer > p > a ~ a { /*~ se refiere a un hermano no inmediato de a*/
			text-decoration: none;
		}

		footer > p > a ~ a:hover {
			color: #191919;
		}



/*CSS PARA LA PÁGINA index.html*/

main > p {
	width: 100%;
	padding: 20px;
	text-align: center; /*funciona cuando la etiqueta presente es de tipo texto, en cualquier otro caso margin: auto*/
	font-size: 1.3em;
}

	main > p > a {
		color: #191919;
	}

	main > p > a:hover {
		color: #c0c;
	}

section#coleccion-fotos {
	width: 100%;
	display: flex;
	flex-wrap: wrap; /*distribuye los elementos flex en varias lineas si es necesario de izquierda a derecha y de arriba a abajo*/
	justify-content: center; /*justifica los elementos flex en el centro del viewport*/
	text-align: center;
}

	/*despues de un section siempre va un h2-h5*/
	section#coleccion-fotos > h2 {
		display: none;
	}

	section#coleccion-fotos > article {
		max-width: 300px;
		background-color: #6B6B6B;
		margin: 30px;
	}

	section#coleccion-fotos > article:hover {
		background-color: #c0c;
		transition: all .3s;
	}

		section#coleccion-fotos > article > hgroup {
			padding: 5px 0;
		}

			section#coleccion-fotos > article > hgroup > h3 > a,
			section#coleccion-fotos > article > hgroup > h4 > a {
				text-decoration: none;
				color: #fff;
			}

			section#coleccion-fotos > article > hgroup > h3 > a:hover,
			section#coleccion-fotos > article > hgroup > h4 > a:hover {
				color: #E3CA10;
			}

		section#coleccion-fotos > article > p {
			padding-bottom: 5px;
		}

			section#coleccion-fotos > article > p > i {
				padding-left: 7px;
			}

			section#coleccion-fotos > article > p > i:first-child,
			section#detalles-foto > div > div > p > a > i[class="fas fa-heart"] {
				color: #E00F0F;
			}

			section#coleccion-fotos > article > p > i[class="fas fa-star"],
			section#detalles-foto > div > div > p > a > i[class="fas fa-star"] {
				color: #E4E009;
			}

			section#coleccion-fotos > article > p > i[class="fas fa-comments"],
			section#detalles-foto > div > div > p > a > i[class="fas fa-comments"] {
				color: #191919;
			}

				section#coleccion-fotos > article > p > i:last-child > a,
				section#coleccion-fotos > article > p > i:last-child,
				section#detalles-foto > div > div > p > i,
				section#detalles-foto > div > div > p > i > a {
					color: #0D5208;
				}

				section#coleccion-fotos > article > p > i:last-child > a:hover {
					text-decoration: none;
				}




/*CSS PARA LA PÁGINA login.html Y registro.html*/

.formulario {
	width: 100%;
	height: 3em;
	padding: .8em;
	border: none;
	border-radius: 2%;
	border-bottom: solid 2px #c0c;
	background-color: rgba(0, 0, 0, .7);
	color: #fff;
}

main > form {
	width: 40%;
	margin: auto;
	background-color: rgba(0, 0, 0, .4);
}

	main > form > div {
		width: 85%;
		margin: 0 auto;
	}

	main > form > div:not(#container-login) {
		padding-top: 10px;
	}

	main > form > div#container-login {
		padding-top: 1.5em;
	}

	main > form > div#container-pass {
		padding-top: 10px;
		padding-bottom: 1.7em;
	}

	main > form > div#container-email {
		padding-bottom: 1.7em;
	}

		main > form > div > label {
			display: block;
			color: #fff;
		}

		main > form > div > label:hover {
			color: #E3CA10;
		}

	main > form > div#container-submit, main > form > div#container-text {
		padding-bottom: .7em;
	}

		main > form > div > input[type="submit"] {
			width: 100%;
			height: 2.8em;
			background-color: #c0c;
			border: none;
			cursor: pointer;
			margin-top: .7em;
		}

		main > form > div > input[type="submit"]:hover {
			background-color: #FF51FF;
		}

		main > form > div > p {
			text-align: center;
			color: #fff;
		}

			main > form > div > p > a {
				color: #fff;
			}

			main > form > div > p > a:hover {
				color: #E3CA10;
				text-decoration: none;
			}




/*CSS PARA LA PÁGINA buscar.html*/

section#filtros {
	width: 100%;
}
	
	section#filtros > h3 {
		margin: .6em 0;
		text-align: center;
	}

	section#filtros > h3:last-child {
		margin-top: 1.3em;
	}

	section#filtros > form#filtros-texto {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

		section#filtros > form#filtros-texto > div {
			margin: .3em 1em 1em 1em;
			width: 20%;
		}

			section#filtros > form#filtros-texto > div > label {
				display: block;
			}

			section#filtros > form#filtros-texto > div > label:hover {
				color: #c0c;
			}

	section#filtros > form#filtros-radio {
		width: 50%;
		margin: 0 auto;
	}

		section#filtros > form#filtros-radio > div {
			display: flex;
			justify-content: center;
			padding: 5px 0;
		}

		section#filtros > form#filtros-radio > div:first-child {
			border-bottom: solid 1px #c0c;
		}

		section#filtros > form#filtros-radio > div:last-child {
			border-top: solid 1px #c0c;
		}

			section#filtros > form#filtros-radio > div > div {
				margin: 0 .7em;
			}

				section#filtros > form#filtros-radio > div > div > span:hover {
					color: #c0c;
				}




/*CSS PARA LA PÁGINA foto.html*/

section#detalles-foto {
	margin-bottom: 4.5em;
}

	section#detalles-foto > h2 {
		padding: 1.3em 0 2em .6em;
		color: #000;
	}

	section#detalles-foto > div {
		width: 100%;
		display: flex;
		align-items: center; /*centra los elementos de manera vertical*/
		justify-content: center; /*centra los elementos de manera horizontal a lo largo del espacio*/
		margin-top: 1em;
	}

		section#detalles-foto > div > a {
			margin-right: 1em;
		}

		section#detalles-foto > div > div {
			margin-left: 1em;
		}

			section#detalles-foto > div > div > p {
				margin: .7em;
			}

				section#detalles-foto > div > div > p > a#nom {
					color: #000;
				}

					section#detalles-foto > div > div > p > i > a,
					section#detalles-foto > div > div > p > a#nom {
						text-decoration: none;
					}

					section#detalles-foto > div > div > p > i > a:hover,
					section#detalles-foto > div > div span:hover,
					section#detalles-foto > div > div > p > a#nom:hover {
						color: #c0c;
						transition: all .3s;
					}

section#zona-comentarios {
	width: 75%;
	margin: auto;
}

	section#zona-comentarios > div {
		width: 80%;
		margin: auto;
	}

	section#zona-comentarios > div {
		width: 80%;
		margin: auto;
	}

	section#zona-comentarios h3 {
		text-align: center;
		margin-top: 1em;
		margin-bottom: 1em;
	}

	section#zona-comentarios > div:last-child {
		border: solid 2px grey;
	}

		section#zona-comentarios > div > div {
			padding: .7em 0;
		}

			section#zona-comentarios > div > div > label,
			section#zona-comentarios > div > div > input {
				display: block;
			}

			section#zona-comentarios > div > div > label:hover {
				color: #c0c;
			}

			section#zona-comentarios > div > div > input {
				width: 300px;
			}

			section#zona-comentarios > div > div > textarea {
				height: 80px;
			}

			section#zona-comentarios > div > div > input,
			section#zona-comentarios > div > div > textarea {
				border: none;
				border-radius: 0%;
			}