*{
	box-sizing:  border-box;
}

h1{
	color: #a00;
	font-size: 32px;
}

body > header{
	background-color: #22C825;
}

body > footer{
	background-color: #C73DA9;
}

body > section{
	background-color: #ddd;
}

	body > section > article{
		background-color: #fff;
		border-top: 1px solid #00a;
		border-bottom: 1px solid #a00;
		margin-top: 5px;
	}

	body>section>article>footer>p,
	body>section>article>h3,
	.sinmargen{
		margin: 0;
	}