
*{
	box-sizing: border-box;
	/* para que el padding lo incluya dentro del ancho de las cajas*/
}

body {
	/*tamaño minimo*/
	min-width: 360px;
}

img{
	max-width: 100%;
	max-height: 100%;
	/*que la imagen sea como mucho tan grande como el contenedor que la contiene*/
}

body>header{
	background-color: #FFAD6C;
	overflow: hidden;
	text-align: center;
	padding: .5em;
}
body>section{
	background-color: #ccc;
	overflow: hidden;
	/*todo lo que se salga del contenedor me lo ocultas*/
	padding: .5em;
	/*--
	display: flex;
	flex-direction: column;*/
	/*es un follon ponerlo en el section asi que lo metemos en el div*/
}
	body>section>div{
		
	}

		body>section>div>article{
			background-color: #fff;
			padding: .5em;
			/*margin-top: .5em;*/
			display: flex;
			flex-direction: column;
		}
	body>section>div>article>p{
		flex-grow: 1

	}

	body>section>div>article>footer{
		border-top: 1px solid black;
	}

	body>section>article{
		background-color: #fff;
		padding: .5em;
		/*margin-top: .5em;*/
		/*flex-grow: 1;*/
		/*propiedad para crecer y rellenar el espacion en blanco*/
	}
		body>section>article>footer{
			border-top: 1px solid #000;
		}
body>footer{
	background-color: #06466D;
	overflow: hidden;
	padding: .5em;
	/*TAMAÑO DE FUENTE RELATIVA AL TAMAÑO DE LA FUENTE DEL CONTENEDOR; MEDIDA ESTANDAR 16px*/
	color: white;
}


@media all and (min-width: 640px){
	body>section>div{
		/*width: 49%;
		display: inline-block;
		vertical-align: top;*/
		/*flex-direction: row;
		flex-wrap: wrap;*/
		display: grid;
		grid-template-columns: repeat(2, minmax(300px, 1fr));
		grid-gap: .5em;
	}

	body>section>div>article{
		
	}
}